<button type="button" class="btn height btn-primary" (click)="openModal(template)">Add pin</button>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new pin</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" #pinForm="ngForm">
      <div class="form-group">
        <label for="recipient-name" class="form-control-label" required>Title*</label>
        <input [(ngModel)]="pin.title" maxlength="50" type="text" class="form-control" name="title" #title="ngModel">
        
      </div>
      <div class="form-group">
        <label for="message-text" class="form-control-label">Content*</label>
        <textarea [(ngModel)]="pin.content"  maxlength="200" class="form-control" #content="ngModel" name="content"  required></textarea>
       
      </div>
      <div class="form-group">
        <label for="message-text" class="form-control-label">Attachment*</label>
        <input [(ngModel)]="uploadedFile" (change)="fileChange($event)" accept="image/*" type="file"  #image="ngModel" class="form-control" name="image" required>
        <img [src]="imgURL" height="200" *ngIf="imgURL">
       
      </div>
      <p *ngIf="error" style="color:red">Form is not properly filled</p>
      <button  type="submit" class="btn btn-primary">Pin it</button>
      
      
    </form>

  </div>
</ng-template>